<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Danh sách tác giả</title>
    <style>
      table {
        width: 95%;
        margin: 50px auto;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }
      th {
        background-color: #ff7622;
        color: #fff;
      }
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
      tr:hover {
        background-color: #ddd;
      }
      .addcategory {
        display: flex;
        margin-left: 20px;
      }
      .dialog {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        padding: 20px;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
      }
      .dialog.active {
        display: block;
      }
      .dialog-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 500;
      }
      .dialog-overlay.active {
        display: block;
      }
      .dialog .form-group {
        margin-bottom: 15px;
      }
      .dialog .form-group label {
        display: block;
        margin-bottom: 5px;
      }
      .dialog .form-group input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
      }
      .dialog .form-actions {
        text-align: right;
      }
      .dialog .form-actions button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      .dialog .form-actions button.cancel {
        background-color: #6c757d;
      }
      .addbook_category {
        display: flex;
        margin-left: 10px;
      }
      .add-book-btn {
        width: 150px;
        height: 40px;
        position: absolute;

        right: 50px;
        padding: 5px 10px;
        background-color: #ff7622;
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
      }

      .add-book-btn:hover {
        background-color: #0056b3;
      }
      button.edit-button:hover {
        background-color: #ff7622;
      }
      button.edit-button {
        background-color: #4caf50;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
      }
      button.delete-button:hover {
        background-color: #e53935;
      }
      button.delete-button {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
      }
      #prevPageIcon {
        width: 24px;
        height: 24px;
        vertical-align: middle;
      }
      .pagination {
        display: none; /* Ẩn thanh phân trang ban đầu */
        margin-left: 27px;
        margin-right: 27px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        background-color: #f1f1f1;
        padding: 10px 0;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
      }
      #page-indicator {
        position: relative;
      }
    </style>
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div style="margin-left: 275px">
      <h3 style="color: #ff7622; margin-left: 25px; font-size: 25px">
        Danh sách tác giả
      </h3>
      <div class="addcategory">
        <button class="add-book-btn" onclick="openDialog()">
          Thêm tác giả
        </button>

        <div class="dialog-overlay" id="dialogOverlay"></div>
        <div class="dialog" id="dialog">
          <h3>Thêm tác giả</h3>
          <div class="form-group">
            <label for="authorName">Tên tác giả</label>
            <input type="text" id="authorName" name="authorName" />
          </div>
          <div class="form-actions">
            <button type="button" onclick="saveAuthor()">Lưu</button>
            <button type="button" class="cancel" onclick="closeDialog()">
              Hủy
            </button>
          </div>
        </div>

        <div class="dialog" id="editDialog">
          <h3>Chỉnh sửa tác giả</h3>
          <div class="form-group">
            <label for="editAuthorName">Tên tác giả</label>
            <input type="text" id="editAuthorName" name="authorName" />
          </div>
          <div class="form-actions">
            <button type="button" onclick="updateAuthor()">Cập nhật</button>
            <button type="button" class="cancel" onclick="closeEditDialog()">
              Hủy
            </button>
          </div>
        </div>
      </div>
      <table id="author-table">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">ID tác giả</th>
            <th scope="col">Tên tác giả</th>
            <th scope="col">Người tạo</th>
            <th scope="col">Chức năng</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="pagination">
      <button onclick="previousPage()" id="prevPageBtn">
        <img src="/uploads/left.png" alt="Trang trước" id="prevPageIcon" />
      </button>
      <span id="page-indicator">Trang 1</span>
      <button onclick="nextPage()" id="prevPageBtn">
        <img src="/uploads/right.png" alt="Trang sau" id="prevPageIcon" />
      </button>
    </div>

    <script>
      const token = localStorage.getItem("token");
      const itemsPerPage = 10;
      let totalItems = 0;
      let currentPage = 1;
      document.addEventListener("DOMContentLoaded", () =>
        fetchAuthors(currentPage)
      );

      function fetchAuthors(page = 1) {
        fetch("/api/author/get", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${token}`,
          },

          body: JSON.stringify({
            page,
            limit: itemsPerPage,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "1") {
              const tableBody = document.querySelector("#author-table tbody");
              tableBody.innerHTML = "";
              data.data.forEach((author, index) => {
                const row = document.createElement("tr");
                row.innerHTML = `
                <td>${index + 1}</td>
                <td>${author.author_id}</td>
                <td>${author.author_name}</td>
                <td>${author.username}</td>
                <td>
                  <button class="edit-button" onclick="openEditDialog(${
                    author.author_id
                  }, '${author.author_name}')">Sửa</button>
                  <button class="delete-button" onclick="deleteAuthor(${
                    author.author_id
                  })">Xóa</button>
                </td>
              `;
                tableBody.appendChild(row);
              });
              document.getElementById(
                "page-indicator"
              ).textContent = `Trang ${page}`;
              totalItems = data.data.count;
              currentPage = page;
              updatePaginationButtons(page);
            } else {
              alert(`Lấy danh sách tác giả thất bại: ${data.message}`);
            }
          })
          .catch((error) => console.error("Error fetching authors:", error));
      }
      function updatePaginationButtons(page) {
        const totalPages = Math.ceil(totalItems / itemsPerPage);
        const previousButton = document.querySelector(
          ".pagination button:first-child"
        );
        const nextButton = document.querySelector(
          ".pagination button:last-child"
        );
        previousButton.disabled = page <= 1;
        nextButton.disabled = page >= totalPages;
      }

      function nextPage() {
        if (currentPage < Math.ceil(totalItems / itemsPerPage)) {
          currentPage++;

          fetchAuthors(currentPage);
        }
      }

      function previousPage() {
        if (currentPage > 1) {
          currentPage--;
          fetchAuthors(currentPage);
        }
      }

      function openDialog() {
        document.getElementById("dialog").classList.add("active");
        document.getElementById("dialogOverlay").classList.add("active");
      }

      function closeDialog() {
        document.getElementById("dialog").classList.remove("active");
        document.getElementById("dialogOverlay").classList.remove("active");
      }

      function openEditDialog(authorId, authorName) {
        editingAuthorId = authorId;
        console.log("ID của dữ liệu cần sửa:", authorId);
        console.log("Tên của dữ liệu cần sửa:", authorName);
        document.getElementById("editAuthorName").value = authorName;
        document.getElementById("editDialog").classList.add("active");
        document.getElementById("dialogOverlay").classList.add("active");
      }

      function closeEditDialog() {
        editingAuthorId = null;
        document.getElementById("editDialog").classList.remove("active");
        document.getElementById("dialogOverlay").classList.remove("active");
        document.getElementById("editAuthorName").value = "";
      }

      function saveAuthor() {
        const authorName = document.getElementById("authorName").value;

        if (!token) {
          alert("Bạn cần đăng nhập để thêm tác giả.");
          return;
        }

        fetch("/api/author/add", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${token}`,
          },
          body: JSON.stringify({
            name: authorName,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "1") {
              alert("Thêm tác giả thành công!");
              closeDialog();
              fetchAuthors();
            } else {
              alert(`Thêm tác giả thất bại: ${data.message}`);
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            alert("Có lỗi xảy ra.");
          });
      }

      function updateAuthor() {
        const authorName = document.getElementById("editAuthorName").value;

        if (!token) {
          alert("Bạn cần đăng nhập để chỉnh sửa tác giả.");
          return;
        }

        fetch("/api/author/update", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${token}`,
          },
          body: JSON.stringify({
            name: authorName,
            id: editingAuthorId,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "1") {
              alert("Cập nhật tác giả thành công!");
              closeEditDialog();
              fetchAuthors();
            } else {
              alert(`Cập nhật tác giả thất bại: ${data.message}`);
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            alert("Có lỗi xảy ra.");
          });
      }

      function deleteAuthor(authorId) {
        const confirmation = confirm(
          "Bạn có chắc chắn muốn xóa thể loại này không?"
        );

        if (confirmation) {
          // Nếu người dùng xác nhận xóa
          fetch(`/api/author/delete`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Authorization: `Bearer ${token}`,
            },
            body: JSON.stringify({ author_id: authorId }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.status === "1") {
                alert("Xóa thể loại thành công!");
                fetchAuthors();
              } else {
                alert(`Xóa thể loại thất bại: ${data.message}`);
              }
            })
            .catch((error) => {
              alert("Có lỗi xảy ra.");
            });
        } else {
          alert("Thao tác xóa đã bị hủy.");
        }
      }

      closeDialog();
    </script>
  </body>
</html>
