<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>

    <link rel="stylesheet" href="css/navbar.css" />
    <style>
      .main-content {
        margin-left: 260px;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <%- include('navbarP.html') %>
    <div id="navbar-placeholder" class="navbar-container"></div>
    <div class="main-content" id="content-placeholder"></div>
    <div>trang chủ</div>
    <script>
      function loadPage(url) {
        fetch(url)
          .then((response) => response.text())
          .then((data) => {
            document.getElementById("content-placeholder").innerHTML = data;
          });
      }
      loadPage("home.html");

      fetch("navbar.html")
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("navbar-placeholder").innerHTML = data;
        });
    </script>
  </body>
</html>
