<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Danh s치ch s치ch</title>
    <style></style>
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div style="margin-left: 275px">
      <h3>Danh s치ch s치ch</h3>
    </div>

    <script>
      const token = localStorage.getItem("token");
    </script>
  </body>
</html>
