<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ListProduct</title>
  </head>
  <style>
    .main {
      margin-left: 275px;
    }
    .h3_table {
      text-align: left;
      margin-left: 10px;
      margin-right: 25px;
      color: #ff7622;
    }
    table {
      width: 80%;
      margin: 20px auto;
      margin-left: 10px;
      border-collapse: collapse;
    }
    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #f2f2f2;
      text-align: center;
    }
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    tr:hover {
      background-color: #ddd;
    }
  </style>
  <body>
    <%- include('navbar.ejs') %>
    <div class="main">
      <h3 class="h3_table">Danh sách sản phẩm</h3>
      <div class="category">
        <a class="nav-link" href="/admin/Catelogy ">Add category</a>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Mã khách hàng</th>
            <th scope="col">Ảnh</th>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">Email</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Ngằy đăng ký</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script></script>
  </body>
</html>
