<nav class="sidebar">
    <h3 class="sidebar-brand">Chào Đạt</h3>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/admin/home"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/ListProduct"><i class="fas fa-list"></i> Danh sách sản phẩm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/User"><i class="fas fa-users"></i> Danh sách khách hàng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/User"><i class="fas fa-shopping-cart"></i> Danh sách đơn hàng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/thongbao"><i class="fas fa-comments"></i> Danh sách bình luận</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/thongbao"><i class="fas fa-tag"></i> Danh sách mã giảm giá</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/Notification"><i class="fas fa-bell"></i> Thông báo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/Member"><i class="fas fa-user-friends"></i> Thành viên</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/thongbao"><i class="fas fa-chart-bar"></i> Thống kê</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/Account"><i class="fas fa-user-circle"></i> Tài khoản</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/orders"><i class="fas fa-clipboard-list"></i> Danh sách order</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/reviews"><i class="fas fa-star"></i> Reviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/statistics/revenue"><i class="fas fa-chart-line"></i> Thống kê doanh thu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/statistics/customers"><i class="fas fa-user-chart"></i> Thống kê khách hàng</a>
        </li>
    </ul>
</nav>