
.navbar {
    background-color: #858e94; /* Đổi màu nền của navbar */
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
  }
  
  .navbar-brand {
    color: white; /* Màu chữ của các navbar-brand */
    margin-top: 30px;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  
  .navbar-brand:hover {
    color: #f1f1f1; /* Màu chữ khi di chuột qua */
  }
  
  .navbar-nav {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-item {
    margin-bottom: 10px;
  }
  
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: #f1f1f1;
    color: black;
  }
  