<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
  crossorigin="anonymous"
/>
<style type="text/css">
  .logo {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
  }

  .content {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 15px;
    background-color: #ffffff47;
  }

  .card {
    margin-bottom: 15px;
  }

  .card-body {
    padding: 15px;
  }

  @media (max-width: 576px) {
    .content {
      padding: 10px;
    }
    .card-body {
      padding: 10px;
    }
    .logo {
      margin-top: 10px;
    }
  }
</style>

<div class="content">
  <div class="card text-center">
    <div class="card-header">
      <b>Thông tin giao dịch</b>
    </div>
    <div class="card-body">
      <% if(status==='00' ){ %>
      <h5 class="card-title text-success"><b>Thanh toán thành công!</b></h5>
      <p class="card-text">Bạn đã thực hiện thanh toán thành công.</p>
      <p><b>Số tiền:</b> <%=amount||''%> <b>VND</b></p>
      <p>
        <b>Mã hóa đơn:</b>
        <%=order||''%>
      </p>
      <% } else{ %>
      <h5 class="card-title text-danger"><b>Thanh toán thất bại!</b></h5>
      <p class="card-text">
        Giao dịch thanh toán của bạn không thành công.
      </p>
      <p><b>Số tiền:</b> <%=amount||''%> <b>VND</b></p>
      <p>
        <b>Mã hóa đơn:</b>
        <%=order||''%>
      </p>
      <% } %>
      <img
        class="logo"
        src="https://i.ibb.co/jg3XvZ2/minions.jpg"
        alt="Logo"
      />
    </div>
    <div class="card-footer text-muted">
      <h6 class="text-right">
        <small>Book manager By Leen</small>
      </h6>
    </div>
  </div>
</div>